
* {
    box-sizing: border-box;
}

:root {
    --background-color: #ffffff;
    --txt-color: #000000;
    --secondary-color: #8aa4a1;
}

body {
    background-color: var(--background-color);
    color: var(--txt-color);

    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
}

h1 {
    margin: 0em;
}

h2 {
    margin: 0em;
}

h3 {
    margin: 0em;
}

.wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

header {
    margin: 12px;
    grid-column: 1 / 2;
}

main {
    grid-column: 1 / 2;
}

aside {
    background-color: #f4f4f4;
    grid-column: 2 / 3;
}

.container {
    padding-bottom: 24px;
}

.container-feature-title {
    background-color: #f4f4f4;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.container-features {
    padding-top: 24px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.feature-item {
    border: 1px var(--secondary-color) solid;

    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.feature-img {
    padding-left: 12px;
    padding-right: 12px;
}

.container-sidebar {
    padding-left: 12px;
    padding-top: 6px;

    display: flex;
    flex-direction: column;
}

.plant-name {
    align-self: center;
    margin-top: 12px;
}

.plant-img {
    padding-top: 24px;
    padding-bottom: 24px;

    align-self: center;
}

button {
    border: none;
    color: var(--txt-color);
    background-color: #FEC014;

    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    align-self: flex-end;
    margin-right: 12px;
  }

